.dashboard{
    .dashboard-summary{
        margin: 20px 0;

        .dashboard-stats{
            display: flex;
            flex-wrap: wrap;
            column-gap: 15px;
            margin: 15px 0;

            .stats{
                text-align: center; max-width: 215px; width: 100%;
                .stats-val{
                    font-size: 32px;
                    color: #3b82f6;
                }
            }
        }
    }
}