.index-sign-in{
    text-align: center;
    .sign-in-container{
        .sign-in-form{
            padding: 20px 0;
            row-gap: 20px;
            max-width: 360px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
    
            input{
                padding: 8px 3px;
                outline: none;
                border: 1px solid;
            }
            a{
                color: aqua;
            }
            button, input{
                border-radius: 2px;
            }
        }
    }
}
